
@model IEnumerable<WebFE.Models.CompanyViewModel>


@{
    ViewData["Title"] = "CompanyList";
}

<p>
    <a class="btn btn-sm btn-dark" type="button" asp-action="Create">Add Company</a>
</p>
<table id="myTable" class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.companyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.versionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="companyTable">
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.versionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>                 
                @Html.ActionLink("Edit", "Edit", new { id=item.id} ) |
                @Html.ActionLink("Delete", "Delete",  new { id=item.id }) |
                @Html.ActionLink("Editor", "EditorNew",  "Ckeditor", new { id=item.id })
             </td>
        </tr>
}
    </tbody>
</table>
